*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    background-color: #6a5acd;
}

.container{
    background-color: #ededed;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 15px 30px 35px rgb(0, 0, 0,0.3);
    border-radius: 10px;
    perspective: 300px;
}

.stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    transform-style: preserve-3d;
}

.tails{
    transform: rotateX(180deg);
}

.buttons{
    display: flex;
    justify-content: space-between;
   
}


.coin img{
    width: 145px;
}

.heads,.tails{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
button{
    padding: 10px 0px;
    width: 120px;
    border: 3px solid#6a5acd;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: white;
    color: black;  
     
}

#flip-button:disabled{
    background-color: #e1e0ee;
    color: #101020;
    border-radius: #e1e0ee;
    opacity: 0.6;
}
#reset-button{
    background-color: #fff;
    color: #000;
}

@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2160deg);
    }
}